@import "tailwindcss";

body {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
               "Helvetica Neue", Arial, "Noto Sans", sans-serif,
               "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
}

/* index.css */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; /* No scroll at app level */
}

/* Target Chrome/Edge autofill */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; /* matches background */
  -webkit-text-fill-color: #111827; /* text color */
  transition: background-color 5000s ease-in-out 0s; /* prevent flash */
}

/* Target Firefox autofill */
input:-moz-autofill {
  box-shadow: 0 0 0px 1000px white inset;
  -moz-text-fill-color: #111827;
}

/* Optional: for Safari */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #111827;
}
